<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body ng-app="myApp" ng-controller="httpCtrl">
		
			<div>
				<label>用户名</label>
				<input type="text" ng-model="username"  />
				<input ng-click="submitForm()" type="submit" value="提交" />
	
		</div>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js" ></script>
		<!-- <script type="text/javascript" src="js/httpdemo.js" ></script> -->
		<script >
		angular.module('myApp',[])
		.controller('httpCtrl',function($scope,$http){
			$scope.username="";
			$scope.submitForm=function(){
				//要通过post传递的参数
				var data = {
				    jump:"add",
				    username:$scope.username,
				},
				//post请求的地址
				url = "/Angular/AngularServlet",
				//将参数传递的方式改成form
				postCfg = {
				    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
				    transformRequest: function (data) {
				        return $.param(data);
				    }
				};
				//发送post请求，获取数据
				$http.post(url, data, postCfg)
				    .success(function (response) {
				        alert("success");
				        console.log(response);
				    }).error(function () {
			        	 alert(000);
			             console.log('获取失败')
			         });
				
			}
			
		});
		</script>
	</body>
</html>
